html {
  box-sizing: border-box;
  background-color: black;
}

*, *:before, *::after {
  box-sizing: inherit;
}

* {
  text-align: center;
}

header {
  margin: 20px;
}

h1 {
  font-size: 30px;
  color: white;
  padding: 5 0px;
}

p {
  font-size: 20px;
  margin: 10px;
}

canvas {
  background: black;
  display: block;
  margin: auto;
  border: 3px solid white;
}
